<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="solaro_sede_presenze.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data><userSettings>
        <solaro_sede_presenze.Properties.Settings>
            <setting name="connessione_solaro1_remota" serializeAs="String">
                <value>c:/program files/winfarm/archivi/arc2000.phs</value>
            </setting>
            <setting name="connessione_solaro2_remota" serializeAs="String">
                <value>c:/program files/winfarm/archivi/arc2000.phs</value>
            </setting>
            <setting name="connessione_solaro1_locale" serializeAs="String">
                <value>c:/program files/winfarm/archivi/arc2000.phs</value>
            </setting>
            <setting name="connessione_solaro2_locale" serializeAs="String">
                <value>c:/program files/winfarm/archivi/arc2000.phs</value>
            </setting>
            <setting name="ip_solaro1" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ip_solaro2" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ip_solaro1_locale" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ip_solaro2_locale" serializeAs="String">
                <value>localhost</value>
            </setting>
        </solaro_sede_presenze.Properties.Settings>
    </userSettings>
</configuration>